:root{
    --primary-color: #fff;
    --secondary-color: #eee;
    --gradjent-tego-typu: linear-gradient(rgba(2,0,36,1) 0%, rgba(6,109,154,1) 0%, rgba(61,124,121,1) 0%, rgba(48,146,120,1) 18%, rgba(40,159,119,1) 58%, rgba(69,154,142,1) 100%, rgba(100,148,168,1) 100%);
}
*{
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: var(--primary-color);
}
body{
    font-family: Arial;
    font-size: 20px;
    overflow-x: hidden;
    background-image: url("https://preview.redd.it/0g5pg6g2grd61.png?width=1920&format=png&auto=webp&s=d2bacaee1bb4ba0561e0c8743d629a5f66415bea");
}
header{
    height: 80px;
    font-size: 36px;
    user-select: none;
    color: var(--primary-color);
    background: var(--gradjent-tego-typu);
}
#lougo{
    height: 100%;
    width: 15vw;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    height: 100%;
    width: 50vw;
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-button{
    height: var(--header-height);
}
main{
    width: 75vw;
    background-color: var(--secondary-color);
    margin-left: auto;
    margin-right: auto;
}
footer{
    height: 40px;
    width: 100%;
    background: var(--gradjent-tego-typu);
    color: var(--primary-color);
    text-align: center;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#ogloszenia{
    height: 100vh;
}