:root{
    --dark-primary-color: #121212;
    --dark-secondary-color: #1e1e1e;
    --light-primary-color: #fff;
    --light-secondary-color: #3361;

    --primary-color: var(--light-primary-color);
    --secondary-color: var(--light-secondary-color);
    --accent-color: #2a1;
    --text-color: #fff;
}
*{
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
input{
    border-radius: 0;
    border-style: solid;
}
label{
    line-height: 2;
}
button{
    color: var(--accent-color);
    background-color: var(--primary-color);
    border: none;
    font-size: 24px;
}
body{
    font-family: Arial;
    font-size: 20px;
    overflow-x: hidden;

    background-color: var(--secondary-color);
    background-size: cover;
}
header{
    width: 100vw;
    height: 80px;
    transition: height 0.25s ease-out;
    position: sticky;
    top: 0;
    user-select: none;
    color: var(--text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 0px 12px black;
}
.lougo{
    height: 100%;
    width: 25vw;
    font-size: 32px;
    font-weight: bold;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    height: 100%;
    width: 55vw;
    transition: width 0.25s ease-out;
    font-size: 24px;
    white-space: nowrap;
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.header-element, .header-button{
    height: var(--header-height);
    text-align: center;
}
.header-element:hover, .header-button:hover{
    transform: scale(110%);
    cursor: pointer;
}
.header-element:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    transition: transform 0.25s ease-out;
    transform: scaleX(0);
    transform-origin: bottom right;
}
.header-element:hover:after{
    transform: scaleX(1);
    transform-origin: bottom center;
}
.tecza{
    background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: tecza_animacja 6s ease-in-out infinite;
    background-size: 400% 100%;
}
.header-button{
    background-color: var(--primary-color);
    color: var(--accent-color);
    padding: 0 10px 0 10px;
    line-height: 2;
}
.button{
    color: var(--accent-color);
    border-bottom: 2px dotted var(--accent-color);
}
.button:hover{
    border-bottom-style: solid;
}
.children-centered{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-centered{
    text-align: center;
}
.children-text-centered > *{
    text-align: center;
}
main{
    min-height: calc(100vh - 80px);
    width: 50vw;
    background-color: var(--primary-color);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
article{
    height: 100%;
    width: 100%;
    padding: 24px 32px;
}
footer{
    height: 40px;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--accent-color);
    color: var(--primary-color);
    text-align: center;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


@keyframes tecza_animacja {
    0%, 100%{
        background-position: 0 0;
    }
    50%{
        background-position: 100% 0;
    }
}

@media only screen and (max-width: 1550px) {
    nav{
        width: 55vw;
    }
}
@media only screen and (max-width: 1400px) {
    nav{
        width: 65vw;
    }
}
@media only screen and (max-width: 1200px) {
    nav{
        width: 74vw;
    }
}
@media only screen and (max-width: 1024px) {
    .mobile-header{
        height: 500px;
    }
    nav{
        display: none;
        height: 75%;
        width: 100vw;
    }
    .mobile-nav{
        display: flex;
        flex-direction: column;
    }
    .lougo{
        width: 100vw;
    }
    .mobile-lougo{
        height: 25%;
    }
    main{
        width: 100vw;
    }
    footer{
        width: 100vw;
    }
}